:root {
    --blue-border-color: rgb(81, 81, 220);
}

html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
    font-size: 18px;
    padding: 0;
}

dialog[open] {
    width: 40%;
    height: 50%;
    border: 10px solid var(--blue-border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

p {
    text-align: center;
    padding: 0;
    margin: 0;
}

dialog[open] > #menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80%;
}

button {
    padding: 10px;
    width: max-content;
    border: 0;
}

button:focus {
    outline-color: orange;
}

button:hover {
    color: orange;
}

dialog[open]#pvp-menu,
dialog[open]#pvb-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 5px;
    text-transform: uppercase;
    border-color: var(--blue-border-color);
}

input:focus {
    outline-color: orange;
}

#name-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#name-form > p {
    text-align: start;
}

.nav-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#main-content {
    width: 40%;
    height: 50%;
    border: 10px solid var(--blue-border-color);
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

#scoreboard {
    display: flex;
    gap: 60px;
}

.player-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.player-col > p {
    color: rgba(255, 255, 255, 0.5);
}

#gameboard {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 5px solid white;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 5px solid white;
    text-align: center;
    font-size: 80px;
}

.cell:hover {
    border-color: orange;
    cursor: pointer;
}

.cell:hover:disabled {
    border-color: white;
    color: white;
    cursor: default;
}

.active-player {
    border: 5px solid white;
}

.active-player > p {
    color: white;
}

dialog[open] > #pvb-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#pvb-form p {
    text-align: start;
}

dialog[open] .form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row > label:hover:has(input) {
    color: orange;
}

.form-row > label:has(input:checked) {
    color: orange;
}

.form-row > label > input {
    opacity: 0;
}