:root {
    --blue-border-color: rgb(81, 81, 220);
}

html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
    font-size: 18px;
    padding: 0;
}

dialog {
    width: 40%;
    height: 50%;
    border: 10px solid var(--blue-border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

p {
    text-align: center;
    padding: 0;
    margin: 0;
}

#menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80%;
}

button {
    padding: 10px;
    width: max-content;
    border: 0;
}

button:hover {
    color: orange;
}

#pvp-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 5px;
    text-transform: uppercase;
    border-color: var(--blue-border-color);
}

input:focus {
    outline-color: orange;
}

#name-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#name-form > p {
    text-align: start;
}

.nav-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 80%;
    height: 80%;
    border: 10px solid var(--blue-border-color);
    border-radius: 10px;

    animation: text
}

#main-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
    border-radius: 20px;
}

#gameboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    margin: 20px 0;
}

.row {
    display: flex;
    gap: 10px;
}

.token-X,
.token-O {
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
}

.token-X {
    background-image: url("./assets/images/x.svg");
    background-size: 100%;
}

.token-O {
    background-image: url("./assets/images/circle.svg");
    background-size: 75%;
    
}

.cell {
    width: 150px;
    height: 150px;
    border: 10px solid white;
    border-radius: 20px;
}

button.cell:hover {
    border-color: aqua;
    cursor: pointer;
}

button.cell:disabled {
    cursor: default;
    border: 0;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#buttons > button {
    width: 300px;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: blue;
    border: 0;
}