:root {
    --blue-border-color: rgb(81, 81, 220);
}

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
    font-size: 18px;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

dialog[open] {
    width: 40%;
    height: 50%;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

p {
    text-align: center;
    padding: 0;
    margin: 0;
}

dialog[open] > #menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80%;
}

button {
    padding: 10px;
    width: max-content;
    border: 0;
}

button:focus {
    outline-color: orange;
}

button:hover {
    color: orange;
}

dialog[open]#pvp-menu,
dialog[open]#pvb-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 5px;
    text-transform: uppercase;
    border-color: var(--blue-border-color);
}

input:focus {
    outline-color: orange;
}

#name-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#name-form > p {
    text-align: start;
}

.nav-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#main-content {
    width: 40%;
    height: 50%;
    border: 10px solid var(--blue-border-color);
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

#scoreboard {
    display: flex;
    gap: 60px;
}

.player-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.player-col > p {
    color: rgba(255, 255, 255, 0.5);
}

#gameboard {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 5px solid white;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 5px solid white;
    text-align: center;
    font-size: 80px;
}

.cell:hover {
    border-color: orange;
    cursor: pointer;
}

.cell:hover:disabled {
    border-color: white;
    color: white;
    cursor: default;
}

.active-player {
    border: 5px solid white;
}

.active-player > p {
    color: white;
}

dialog[open] > #pvb-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#pvb-form p {
    text-align: start;
}

dialog[open] .form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row > label:hover:has(input) {
    color: orange;
}

.form-row > label:has(input:checked) {
    color: orange;
}

.form-row > label > input {
    opacity: 0;
}

/* CRT EFFECTS */
/* By Alec Lownes, https://aleclownes.com/2017/02/01/crt-display.html */

@keyframes boxShadow {
    0% {
        box-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), 
        -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
        box-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), 
        -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
        box-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), 
        -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
        box-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), 
        -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
        box-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), 
        -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
        box-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), 
        -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
        box-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), 
        -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
        box-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), 
        -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
        box-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), 
        -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
        box-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), 
        -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
        box-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), 
        -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
        box-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), 
        -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
        box-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), 
        -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
        box-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), 
        -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
        box-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), 
        -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
        box-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), 
        -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
        box-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), 
        -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
        box-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), 
        -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
        box-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), 
        -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
        box-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), 
        -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
        box-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), 
        -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), 
        -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), 
        -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), 
        -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), 
        -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), 
        -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), 
        -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), 
        -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), 
        -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), 
        -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), 
        -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), 
        -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), 
        -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), 
        -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), 
        -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), 
        -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), 
        -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), 
        -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), 
        -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), 
        -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), 
        -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), 
        -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 
        linear-gradient(
            rgba(18, 16, 16, 0) 50%, 
            rgba(0, 0, 0, 0.25) 50%
        ), 
        linear-gradient(
            90deg, 
            rgba(255, 0, 0, 0.06), 
            rgba(0, 255, 0, 0.02), 
            rgba(0, 0, 255, 0.06)
        );
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.crt {
    animation: textShadow 1.6s infinite, boxShadow 1.6s infinite;
}