html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;

    color: white;
    background-color: rgb(44, 44, 44);

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 100%;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 32px;
    font-style: italic;
    margin: 0;
}

#gameboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.token-X,
.token-O {
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
}

.token-X {
    background-image: url("./assets/images/x.svg");
    background-size: 100%;
}

.token-O {
    background-image: url("./assets/images/circle.svg");
    background-size: 75%;
    
}

.cell {
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 20px;
    background-color: transparent;
}

button.cell:hover {
    border-color: aqua;
    cursor: pointer;
}

button.cell:disabled {
    border: 0;
}